/* ======================
reset css start
========================= */
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 100vh;
}
a {
  text-decoration: none;
}
ul,li {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* ======================
reset css end
========================= */

/* ========================
reuseable classes start
===========================*/
.heading_secondary {
  color: #0e161a;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* btn css */
.btn{
  padding: 1.5rem 3rem;
  display: inline-block;
  background-color:#495057;
  font-size: 1.8rem;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 400;
  transition: all .3s;
  border: 0;
}
/* ========================
reuseable classes end
===========================*/


/* ========================
utilities classes start
===========================*/
.mb_sm{
  margin-bottom: 1rem;
}
.mb_md{
  margin-bottom: 1.5rem;
}
.mb_lg{
  margin-bottom: 4rem;
}

.mr_sm{
  margin-right: 8px;
}
.mr_md{}
.mr_lg{}


/* ========================
utilities classes end
===========================*/